$col-primary-1: #FF9619;
$col-primary-2: #C75000;
$col-primary-3: #0D0803;
$col-primary-4: #44172E;

$col-secondary-1: #FFA841;
$col-secondary-2: #C2570F;
$col-secondary-3: #F8F8F8;

$col-links-light: #C2570F;
$col-links-dark: #FFA841;

$col-gradient: linear-gradient(93.29deg, #FFA841 5.07%, #FF9619 100%);

$col-neutral-1: #202020;
$col-neutral-2: #2B2B2B;
$col-neutral-3: #4D4D4D;
$col-neutral-4: #737373;
$col-neutral-5: #C0C0C0;
$col-neutral-6: #E5E5E5;
$col-neutral-7: #FFFFFF;
$col-neutral-8: #232323;
$col-neutral-9: #909090;

$col-system-1: #CD1F3E;
$col-system-2: #FFAB07;
$col-system-3: #00B31D;

$col-body: #EFEFEF;
