* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  background-color: $col-body;
  overflow-x: hidden;

  --sb-track-color: #E5E5E5;
  --sb-thumb-color: #ff9619;
  --sb-size: 6px;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: var(--sb-size);
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  height: 7px;
}