@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 800;
  color: #232323;
}

h1,
.h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
}

h2,
.h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 16px;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}

a {
  color: #C2570F;
  font-size: 18px;
  line-height: 22px;
}

ul {
  list-style: none;
  margin-bottom: 24px;
  padding-left: 0px;
}
ul li {
  position: relative;
  font-size: 16px;
  padding-left: 1.4em;
  margin-bottom: 8px;
}
ul li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 10px;
  height: 10px;
  background: #FF9619;
  border-radius: 20px;
  background-size: cover;
}

ol {
  list-style: none;
  counter-reset: ol-counter;
  margin-bottom: 32px;
  padding-left: 0px;
}
ol li {
  counter-increment: ol-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ol li::before {
  color: #FF9619;
  content: counter(ol-counter);
  font-weight: 700;
  font-size: 16px;
  margin-right: 0.5rem;
  padding-right: 5px;
}
ol li::after {
  margin-left: 10px;
}

.wp-table {
  max-width: 100%;
  overflow-x: auto;
}

table {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1411764706);
          box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1411764706);
  border-radius: 12px;
  margin-bottom: 24px;
  width: 100%;
}
table th,
table td {
  padding: 6px 64px 6px 16px;
  font-size: 14px;
  font-weight: 700;
}
table th:nth-child(1) {
  border-top-left-radius: 12px;
}
table th:nth-last-child(1) {
  border-top-right-radius: 12px;
}
table thead {
  background: rgba(13, 8, 3, 0.6509803922);
  color: #FFFFFF;
  border-bottom: 1px solid #FF9619;
}
table tbody {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
table tbody tr {
  border-bottom: 1px solid #FF9619;
}
table tbody td {
  font-weight: 500;
}
table tbody tr:nth-last-child(1) {
  border-bottom: 0px;
}
table tbody tr:nth-last-child(1) td:nth-child(1) {
  border-bottom-left-radius: 12px;
}
table tbody tr:nth-last-child(1) td:nth-last-child(1) {
  border-bottom-right-radius: 12px;
}
table tbody tr:nth-child(even) {
  background-color: #ffedd7;
}
table tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

img {
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
  h1,
  .h1 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 24px;
  }
  h2,
  .h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  h3,
  .h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  h4,
  .h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  h5,
  .h5 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  h6,
  .h6 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  ul,
  ol {
    margin-bottom: 32px;
  }
  ul li,
  ol li {
    margin-bottom: 8px;
  }
  table {
    margin-bottom: 32px;
  }
  table th,
  table td {
    padding: 12px 64px 12px 16px;
    font-size: 16px;
  }
  img {
    margin-bottom: 32px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #EFEFEF;
  overflow-x: hidden;
  --sb-track-color: #E5E5E5;
  --sb-thumb-color: #ff9619;
  --sb-size: 6px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
  height: 7px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  height: 7px;
}

.btn--1 {
  color: #232323;
  background: linear-gradient(93.29deg, #FFA841 5.07%, #FF9619 100%);
  font-size: 18px;
  font-weight: 800;
  padding: 12px 32px;
  border: 3px solid transparent;
  border-radius: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--1:hover {
  border: 3px solid #202020;
}
.btn--1:focus, .btn--1.active {
  border: 3px solid #C0C0C0;
}
.btn--1:disabled,
.btn--1 .disabled {
  background: #737373;
  border: 3px solid transparent;
}
.btn--2 {
  color: #232323;
  background: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  padding: 12px 32px;
  border: 3px solid #232323;
  border-radius: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--2:hover {
  background: rgba(255, 168, 65, 0.35);
  border: 3px solid #232323;
}
.btn--2:disabled,
.btn--2 .disabled {
  border: 3px solid #737373;
}
.btn--3 {
  color: #C75000;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 32px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--3:hover {
  text-decoration: underline;
  color: #C75000;
}
.btn--3:focus {
  border: 1px solid #44172E;
}
.btn--3:disabled,
.btn--3 .disabled {
  color: #737373;
}

@media screen and (min-width: 992px) {
  .btn--1 {
    font-size: 20px;
    padding: 16px 32px;
  }
  .btn--2 {
    font-size: 20px;
    padding: 16px 32px;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.filters-nav .search-form {
  margin-bottom: 24px;
}
.filters-nav .search-form input[type=text] {
  border: 2px solid #FF9619;
  border-radius: 50px;
  height: 58px;
}
.filters-nav .search-form button {
  top: 14px;
}
.filters-nav .search-form button svg {
  stroke: #0d0803;
  fill: #0d0803;
}
.filters-nav .filters-toggle {
  cursor: pointer;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
  border: 2px solid #FF9619;
  border-radius: 50px;
}
.filters-nav .filters-toggle .label {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.filters {
  display: none;
}
.filters .filters-category-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-bottom: 20px;
}
.filters .filters-category-name .label {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.toc-ctn h5 {
  text-align: center;
}
.toc-ctn .toc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
  overflow-x: auto;
}
.toc-ctn .toc .item {
  background: #FFFFFF;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 23px;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

@media screen and (min-width: 992px) {
  .hero--2 .author-meta {
    max-width: 454px;
    margin-left: auto;
    margin-right: auto;
  }
}
footer {
  background-color: #0D0803;
  color: #FFFFFF;
  padding-top: 85px;
  padding-bottom: 30px;
  position: relative;
  margin-top: 120px;
  text-align: center;
}
footer p {
  font-size: 14px;
}
footer .footer-logo-mobile {
  position: absolute;
  max-width: 341px;
  top: -94px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer .newsletter-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
footer .btn.btn--1 {
  width: 100%;
}
footer .footer-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
footer ul {
  margin-bottom: 40px;
}
footer ul li::before {
  content: none;
}
footer ul li {
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
}
footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}
footer .mobile-logo {
  max-width: 133px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
  margin-bottom: 24px;
}
.social-links .item {
  background: linear-gradient(93.29deg, #FFA841 5.07%, #FF9619 100%);
  width: 38px;
  height: 38px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright-text {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  footer {
    margin-top: 160px;
    padding-top: 160px;
    padding-bottom: 40px;
  }
  .footer-logo-desktop {
    position: absolute;
    max-width: 607px;
    top: -170px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media screen and (min-width: 992px) {
  footer {
    text-align: left;
  }
  footer .footer-logo {
    max-width: 190px;
  }
  footer .newsletter-ctn .btn.btn--1 {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  footer .copyright-text {
    text-align: right;
  }
  footer .social-links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .footer__gambling {
    text-align: center;
  }
}
.nav {
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 32px;
  position: relative;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 18px;
  background-color: #0D0803;
  border-radius: 50px;
}
.nav__logo .nav-logo {
  margin-bottom: 0px;
  max-width: 62px;
}
.nav .menu-toggler__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.nav .menu-toggler__ctn .search-toggler__ctn {
  display: none;
}
.nav .nav-menu__ctn {
  padding: 14px 18px;
  background-color: #0D0803;
  border-radius: 0px 0px 50px 50px;
  width: 100%;
  position: absolute;
  top: 100%;
}
.nav .nav-menu__ctn .nav-menu {
  margin-bottom: 24px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 20px;
}
.nav .nav-menu__ctn .nav-menu .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 150, 25, 0.4);
  margin-bottom: 16px;
  padding-bottom: 4px;
}
.nav .nav-menu__ctn .nav-menu .nav-item a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.nav .nav-menu__ctn .nav-menu .nav-item .nav-item-toggler {
  width: 60px;
  text-align: right;
}
.nav .nav-menu__ctn .nav-menu .nav-childs {
  padding-left: 23px;
}
.nav .nav-menu__ctn .nav-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .nav-menu__ctn .nav-socials .social-links {
  margin-bottom: 0px;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-name: rotateAnimation;
          animation-name: rotateAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotateAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 16px;
  height: 2px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
  border-radius: 10px;
}

.bar2,
.bar3 {
  top: 7px;
  border-radius: 10px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
  border-radius: 10px;
}

.hamburger3 .bar1 {
  -webkit-transform-origin: 5%;
          transform-origin: 5%;
}

.hamburger3 .bar4 {
  -webkit-transform-origin: 5%;
          transform-origin: 5%;
}

.checkbox3:checked + label > .hamburger3 > .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 3px;
  width: 21px;
}

.checkbox3:checked + label > .hamburger3 > .bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.checkbox3:checked + label > .hamburger3 > .bar4 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 3px;
  width: 21px;
}

.open-nav .nav__logo {
  border-radius: 30px 30px 0px 0px;
}

.search-form {
  position: relative;
  margin-bottom: 19px;
}
.search-form input[type=text] {
  width: 100%;
  height: 30px;
  padding: 18px 40px 18px 18px;
  background: #FFFFFF;
  border-radius: 50px;
  border: 0;
}
.search-form input[type=text]:focus {
  outline: none;
}
.search-form button {
  background: transparent;
  position: absolute;
  top: 5px;
  right: 12px;
  border: 0;
}
.search-form button svg {
  width: 21px;
}

@media screen and (min-width: 992px) {
  .nav {
    margin-bottom: 48px;
  }
  .nav .nav-logo {
    max-width: 100px;
  }
  .nav .nav__logo.desktop-nav .nav-logo-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__logo.desktop-nav .nav-logo-ctn .nav-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
    margin-left: 32px;
  }
  .nav .nav__logo.desktop-nav .nav-logo-ctn .nav-socials .social-links {
    margin-bottom: 0px;
  }
  .nav .nav__logo.desktop-nav .nav-logo-ctn .nav-socials .social-links .item {
    background: transparent;
    border: 1px solid #FF9619;
  }
  .nav .nav__logo.desktop-nav .nav-logo-ctn .nav-socials .social-links svg {
    fill: #FF9619;
  }
  .nav .nav__logo .search-toggler {
    cursor: pointer;
    display: inline;
  }
  .nav .nav__logo .menu-toggler__ctn,
  .nav .nav__logo .search-toggler__ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .nav .nav__logo .menu-toggler__ctn .search-form,
  .nav .nav__logo .search-toggler__ctn .search-form {
    margin-bottom: 0px;
  }
  .nav .nav__logo .menu-toggler {
    position: relative;
    top: 2px;
  }
  .nav .nav__logo .search-toggler__ctn {
    position: relative;
    gap: 0;
  }
  .nav .nav__logo .search-toggler__ctn .search-toggler svg {
    width: 18px;
  }
  .nav .nav__logo .search-toggler__ctn .search-form {
    position: absolute;
    right: -4px;
    display: none;
  }
  .nav .nav-menu__ctn .nav-menu {
    max-width: 18%;
    padding-right: 0px;
  }
  .nav .nav-menu__ctn .nav-menu .nav-childs {
    position: absolute;
    top: 11px;
    left: 18.9%;
    padding-left: 16px;
    border-left: 2px solid rgba(255, 150, 25, 0.4);
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 18px;
  }
  .nav .nav-menu__ctn .nav-menu .nav-childs .nav-item {
    margin-right: 120px;
    margin-bottom: 0px;
  }
  .nav .nav-menu__ctn .nav-menu .nav-childs .nav-item-border {
    width: 2px;
    height: 100%;
    background: rgba(255, 150, 25, 0.4);
  }
  .nav .nav-menu__ctn .nav-menu .nav-item {
    border-bottom: 2px solid transparent;
  }
  .nav .nav-menu__ctn .nav-menu .nav-item .nav-item-toggler {
    display: none;
  }
  .nav .nav-menu__ctn .nav-menu .nav-item__childs:hover > .nav-childs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .nav .nav-menu__ctn .nav-menu .nav-item__childs:hover > .nav-item {
    border-bottom: 2px solid rgba(255, 150, 25, 0.4);
  }
}
@-webkit-keyframes slideAnimationSearch {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}
@keyframes slideAnimationSearch {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}
.slideSearch {
  -webkit-animation-name: slideAnimationSearch;
          animation-name: slideAnimationSearch;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  width: 300px;
  display: inline-block !important;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding-right: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.bottom-nav__ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  max-width: 500px;
  background-color: #0D0803;
  color: #FFFFFF;
  padding: 7px 25px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  z-index: 2;
}
.bottom-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #FFFFFF;
}
.bottom-nav__item .label {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
}
.bottom-nav__item svg {
  stroke: #FFFFFF;
}
.bottom-nav__item:hover {
  color: #FF9619;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.bottom-nav__item:hover svg {
  stroke: #FF9619;
  -webkit-transition: stroke 0.2s ease-in;
  transition: stroke 0.2s ease-in;
}
.bottom-nav__item.active {
  color: #FF9619;
}
.bottom-nav__item.active svg {
  stroke: #FF9619;
}
.bottom-nav__msg {
  position: relative;
}
.bottom-nav__msg .ana-ctn {
  cursor: pointer;
  width: 58px;
  z-index: 1000;
}
.bottom-nav__msg .popup__ctn {
  position: absolute;
  bottom: 60%;
  right: 60%;
  z-index: -1;
  opacity: 0;
  background: #ffd8aa;
  border-radius: 16px;
  padding: 32px 16px 16px 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 157px;
  overflow-y: auto;
}
.bottom-nav__msg .popup__ctn svg {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
.bottom-nav__msg .popup__ctn p {
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.bottom-nav__msg .popup__ctn .btn.btn--3 {
  padding: 0px;
}
@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes moveUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bottom-nav .moveup-anim {
  -webkit-animation: moveUp 0.2s ease-in forwards;
          animation: moveUp 0.2s ease-in forwards;
}
.bottom-nav .movedown-anim {
  -webkit-animation: moveDown 0.2s ease-in forwards;
          animation: moveDown 0.2s ease-in forwards;
}
.bottom-nav .fadein-anim {
  -webkit-animation: fadeIn 0.2s ease-in forwards;
          animation: fadeIn 0.2s ease-in forwards;
  display: block;
}
.bottom-nav .fadeout-anim {
  -webkit-animation: fadeOut 0.2s ease-in forwards;
          animation: fadeOut 0.2s ease-in forwards;
}
.bottom-nav img {
  margin-bottom: 0px;
}

@media screen and (min-width: 992px) {
  .bottom-nav {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 10px;
  }
  .bottom-nav__ctn {
    border-radius: 40px;
    padding: 8px;
    max-width: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 140px;
  }
  .bottom-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
  .bottom-nav__item .label {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .bottom-nav__msg .ana-ctn {
    width: 100px;
  }
}
.custom-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.custom-dropdown h5 {
  margin-bottom: 0px;
}
.custom-dropdown .selected-option {
  background-color: #FFFFFF;
  border: 2px solid #FF9619;
  border-radius: 50px;
  padding: 16px 24px;
}
.custom-dropdown .selected-option .option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.custom-dropdown .selected-option .option-header img {
  width: 14px;
  margin-bottom: 0px;
}
.custom-dropdown .options-list {
  width: 100%;
  background-color: #FFFFFF;
  border: 2px solid #FF9619;
  border-top: none;
  display: none;
  padding: 16px 24px;
  position: absolute;
  z-index: 10;
  max-height: 400px;
  overflow-y: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.custom-dropdown .options-list input[type=checkbox] {
  visibility: hidden;
}
.custom-dropdown .options-list label {
  display: block;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 18px;
}
.custom-dropdown .options-list label input[type=checkbox] {
  margin-right: 6px;
  background: transparent;
  border: 1px solid #C75000;
}
.custom-dropdown .selected-option.selected-option-active {
  border-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 20px 20px 0px 0px;
}
.custom-dropdown .header-option-active {
  border-bottom: 1px solid #FF9619;
  padding-bottom: 10px;
}
.custom-dropdown .options-list label {
  display: block;
  padding: 8px;
  cursor: pointer;
  position: relative;
}
.custom-dropdown .custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border: 1px solid #FF9619;
  border-radius: 4px;
  -webkit-text-fill-color: inherit;
}
.custom-dropdown input[type=checkbox]:checked + .custom-checkbox::after {
  content: "✓";
  color: #FF9619;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dropdown-ctn.dropdown-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown {
  position: relative;
  display: inline-block;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
  padding: 14px;
  min-height: 44px;
  background: #0D0803;
  border: 1px solid #FF9619;
  text-align: left;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-ctn.dropdown-2 .flag-img {
  margin-bottom: 0px;
  max-width: 24px;
  position: static;
  left: 0px;
  -webkit-transform: inherit;
          transform: inherit;
}
.dropdown-ctn.dropdown-2 .scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.dropdown-ctn.dropdown-2 .arrow {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  position: relative;
  top: 11px;
}
.dropdown-ctn.dropdown-2 .selected-display {
  font-size: 18px;
  font-weight: 700;
}
.dropdown-ctn.dropdown-2 .selected-display img {
  margin-right: 10px;
}
.dropdown-ctn.dropdown-2 svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown::before {
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -2px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.dropdown-ctn.dropdown-2 .rotated {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  background: inherit;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  visibility: hidden;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li {
  padding: 0 7px;
  line-height: 45px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li::before {
  border: 0px;
  width: 0;
  height: 0;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li img {
  margin-right: 10px;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li:last-child {
  border-bottom: none;
}
.dropdown-ctn.dropdown-2 .dropdown {
  padding: 7px !important;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li:hover {
  background-color: rgb(35, 40, 49);
  border-radius: 10px;
}
.dropdown-ctn.dropdown-2 .wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .custom-dropdown .selected-option .option-header img {
    width: 20px;
  }
}
@media screen and (max-width: 576px) {
  .dropdown-ctn.dropdown-2 .selected-display,
  .dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li {
    font-size: 14px;
  }
  .btn.btn-lang {
    height: 51px;
  }
}
@media screen and (max-width: 320px) {
  .dropdown-ctn.dropdown-2 .wrapper-dropdown {
    padding: 14px 7px;
  }
}
.slot-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  width: 100%;
  min-height: 114px;
  height: 100%;
}
.slot-card .slot-content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.slot-card .slot-content .slot-name,
.slot-card .slot-content .slot-provider {
  color: #FFFFFF;
  text-decoration: none;
  border: 0px;
}

.author-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border-radius: 20px;
  padding: 16px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
  text-align: center;
}
.author-card img {
  border-radius: 12px;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.author-card .name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #232323;
  margin-bottom: 4px;
}
.author-card .role {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2%;
  color: #909090;
  margin-bottom: 8px;
}
.author-card p {
  color: #232323;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
}
.author-card a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.post-card {
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
  padding-bottom: 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-card .thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 12px;
  width: 100%;
  height: 172px;
}
.post-card .content {
  padding: 0px 12px 0px 12px;
  color: #232323;
}
.post-card .author-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}
.post-card .author-meta p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.post-card .category-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
}
.post-card .post-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 16px;
}
.post-card .read-more {
  text-decoration: none;
  padding: 0px 12px 12px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.casino-card {
  color: #232323;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.0509803922);
  padding: 12px 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.casino-card .logo-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  gap: 20px;
}
.casino-card .logo-ctn img {
  max-width: 152px;
  margin-bottom: 0px;
}
.casino-card .logo-ctn .casino-meta {
  text-align: center;
}
.casino-card .logo-ctn .casino-meta .casino-name {
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 8px;
}
.casino-card .logo-ctn .casino-meta .casino-rating svg {
  position: relative;
  top: -2px;
}
.casino-card .logo-ctn .casino-meta .casino-rating span {
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
}
.casino-card p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.casino-card .buttons {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.casino-card .buttons .link {
  text-decoration: none;
  font-size: 14px;
}
.casino-card .buttons .link.disabled {
  color: #737373;
  cursor: not-allowed;
  pointer-events: none;
}
.casino-card .buttons .btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.casino-card .buttons .btn:first-child {
  margin-bottom: 12px;
}

.author-card-2 {
  background: #FFFFFF;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
  border: 1px solid #000;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.author-card-2 .content .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.author-card-2 .content .profile img {
  margin-bottom: 0px;
  width: 56px;
  border-radius: 8px;
}
.author-card-2 .content .profile .name {
  color: #C2570F;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.author-card-2 .content .profile .role {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.author-card-2 .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.author-card-2 .content .list {
  margin-bottom: 20px;
}
.author-card-2 .content .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  margin-bottom: 5px;
}
.author-card-2 .content .list .item a {
  font-size: 14px;
}
.author-card-2 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.author-card-2 .buttons a {
  text-decoration: none;
}
.author-card-2 .buttons img {
  width: 32px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .slot-card {
    min-height: 234px;
  }
  .slot-card:hover .slot-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slot-card .slot-content a {
    text-decoration: none;
  }
  .slot-card .slot-content .slot-name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  .slot-card .slot-content .slot-provider {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  .slot-card .slot-content .btn.btn--2 {
    background: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 15px;
  }
}
.categories-cards.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 12px;
}
.categories-cards.scroll .item {
  padding: 8px 40px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.categories-cards .item {
  background: #FFFFFF;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border-radius: 12px;
  text-decoration: none;
}
.categories-cards .item svg {
  margin-bottom: 4px;
}
.categories-cards .item .label {
  color: #232323;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.pac-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
}
.pac-card .title {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 16px;
}
.pac-card .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}
.pac-card .item p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .categories-cards.scroll {
    gap: 24px;
  }
  .categories-cards.scroll .item {
    padding: 8px 64px;
  }
  .categories-cards .item {
    font-size: 16px;
  }
  .pac-card .title {
    font-size: 20px;
    line-height: 24px;
  }
  .pac-card .item p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .slot-card .slot-content .btn.btn--2 {
    padding: 12px 24px;
  }
}
.author-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 16px;
}
.author-meta .item,
.author-meta a {
  text-decoration: none;
  color: #232323;
  margin-bottom: 2px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 992px) {
  .author-meta {
    margin-bottom: 32px;
  }
  .author-meta .item,
  .author-meta a {
    font-size: 12px;
    line-height: 20px;
  }
}
.pagination {
  margin-bottom: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination li {
  padding: 0px;
  list-style: none;
}
.pagination li::before {
  content: none;
}
.pagination li .page-link {
  border: 1px solid #FF9619;
  color: #232323;
}
.pagination li.active .page-link {
  background: #232323;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .pagination {
    margin-bottom: 58px;
  }
}
.casino-info {
  width: 100%;
  position: relative;
}
.casino-info img {
  max-width: 56px;
  margin-bottom: 0px;
  position: absolute;
  bottom: -20px;
  right: -10px;
  z-index: 2;
}
.casino-info__msg {
  background-color: #44172E;
  border-radius: 16px;
  padding: 16px;
}
.casino-info__msg.show-to-scroll {
  opacity: 0;
}
.casino-info__msg .title,
.casino-info__msg p {
  color: #FFFFFF;
}
.casino-info__msg .title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}
.casino-info__msg p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}
.casino-info__msg a {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFA841;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .casino-info {
    max-width: 810px;
    margin: 0 auto;
  }
  .casino-info img {
    max-width: 163px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: 0px;
    right: -60px;
  }
  .casino-info__msg {
    padding: 20px 32px;
    padding-right: 120px;
  }
  .casino-info__msg .title {
    font-size: 24px;
    line-height: 28px;
  }
  .casino-info__msg p {
    font-size: 18px;
    line-height: 24px;
  }
}
.about-info {
  padding: 24px 24px 174px 24px;
  background-color: #473e47;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 24px;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.about-info .h2 {
  color: #FFFFFF;
}
.about-info__ctn {
  background: #2E232D;
  padding: 32px 0px;
}
.about-info__ctn .border-wrap {
  border-radius: 24px;
  position: relative;
  background: linear-gradient(107.09deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 104.27%);
  padding: 3px;
}
.about-info__tips .item {
  margin-bottom: 32px;
}
.about-info__tips .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
  color: #FF9619;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.about-info__tips .item p {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}
.about-info .img-1 {
  position: absolute;
  left: -40px;
  bottom: -27px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  max-width: 184px;
}
.about-info .img-2 {
  position: absolute;
  right: -5px;
  bottom: -35px;
  max-width: 198px;
}
.about-info .img-1 {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}
.about-info .img-2 {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.character-info {
  margin-top: 140px;
}
.character-info__ctn {
  background-image: url("../images/slot-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 31px;
  padding: 200px 20px 20px 20px;
  position: relative;
}
.character-info__img {
  max-width: 209px;
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.character-info__img img {
  margin-bottom: 0px;
}
.character-info .border-wrap {
  border-radius: 24px;
  position: relative;
  background: linear-gradient(107.09deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 104.27%);
  padding: 3px;
}
.character-info__content {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 24px;
  color: #FFFFFF;
  padding: 24px;
}
.character-info__content .h3 {
  color: #FFFFFF;
}
.character-info__content p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.character-info__content p:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .character-info .col-md-4 {
    position: relative;
  }
  .character-info__img {
    top: 0px;
    width: 100%;
    max-width: 422px;
  }
  .character-info__ctn {
    padding-top: 37px;
  }
  .character-info__content {
    min-height: 320px;
    max-height: 330px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 992px) {
  .character-info__img {
    width: 100%;
    top: -40%;
    left: 41%;
    max-width: 422px;
  }
}
@media screen and (min-width: 1200px) {
  .about-info {
    padding: 31px 100px;
  }
  .about-info .h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-info__ctn {
    padding: 64px 0px;
  }
  .about-info__tips {
    max-width: 700px;
    margin: 0 auto;
  }
  .about-info .img-1 {
    max-width: 488px;
    left: -100px;
    bottom: -300px;
  }
  .about-info .img-2 {
    max-width: 456px;
    right: -31px;
    bottom: -114px;
  }
  .character-info {
    margin-top: 180px;
  }
  .character-info__img {
    top: -50%;
  }
}
/*# sourceMappingURL=styles.css.map */