.custom-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    h5 {
      margin-bottom: 0px;
    }
    .selected-option {
      background-color: $col-neutral-7;
      border: 2px solid $col-primary-1;
      border-radius: 50px;
      padding: 16px 24px;
      .option-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 14px;
          margin-bottom: 0px;
        }
      }
    }
  
    .options-list {
      width: 100%;
      background-color: $col-neutral-7;
      border: 2px solid $col-primary-1;
      border-top: none;
      display: none;
      padding: 16px 24px;
      input[type="checkbox"] {
        visibility: hidden;
      }
      position: absolute;
      z-index: 10;
      max-height: 400px;
      overflow-y: auto;

      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  
    .options-list label {
      display: block;
      padding: 8px 0px;
      cursor: pointer;
      font-size: 18px;
    }
  
    .options-list label input[type="checkbox"] {
      margin-right: 6px;
      background: transparent;
      border: 1px solid $col-primary-2;
    }
    .selected-option.selected-option-active {
      border-bottom: 0px;
      padding-bottom: 0px;
      border-radius: 20px 20px 0px 0px;
    }
    .header-option-active {
      border-bottom: 1px solid $col-primary-1;
      padding-bottom: 10px;
    }
  
    .options-list label {
      display: block;
      padding: 8px;
      cursor: pointer;
      position: relative;
    }
  
    .custom-checkbox {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-color: $col-neutral-7;
      border: 1px solid $col-primary-1;
      border-radius: 4px;
      -webkit-text-fill-color: inherit;
    }
  
    input[type="checkbox"]:checked + .custom-checkbox::after {
      content: "\2713";
      color: $col-primary-1;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .dropdown-ctn.dropdown-2 {
    align-items: center;
    justify-content: center;
    display: block;
    min-width: 231.5px;
    width: 100% !important;
    max-width: 483px;
    
    .wrapper-dropdown {
      position: relative;
      display: inline-block;
      min-width: 231.5px;
      width: 100% !important;
      max-width: 483px;
      padding: 14px;
      min-height: 44px;
      background: $col-primary-3;
      border: 1px solid $col-primary-1;
      text-align: left;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .flag-img {
      margin-bottom: 0px;
      max-width: 24px;
      position: static;
      left: 0px;
      transform: inherit;
    }
    
    .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
    }
    
    .arrow {
      margin-left: 10px;
      margin-right: 10px;
      float: right;
      position: relative;
      top: 11px;
    }
    
    .selected-display {
      font-size: 18px;
      font-weight: 700;
      img {
        margin-right: 10px;
      }
    }
    
    svg {
      transition: all 0.3s;
    }
    
    .wrapper-dropdown::before {
      position: absolute;
      top: 50%;
      right: 16px;
    
      margin-top: -2px;
    
      border-width: 6px 6px 0 6px;
      border-style: solid;
      border-color: #fff transparent;
    }
    
    .rotated {
      transform: rotate(-180deg);
    }
    
    .wrapper-dropdown .dropdown {
      transition: 0.3s;
    
      position: absolute;
      top: 120%;
      right: 0;
      left: 0;
    
      margin: 0;
      padding: 0;
    
      list-style: none;
    
      z-index: 99;
    
      box-shadow: inherit;
      background: inherit;
    
      -webkit-transform-origin: top;
      -moz-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
    
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    
      opacity: 0;
      visibility: hidden;
    }
    
    .wrapper-dropdown .dropdown li {
      padding: 0 7px;
      line-height: 45px;
      overflow: hidden;
      font-size: 18px;
      font-weight: 700;
      &::before {
        border: 0px;
        width: 0;
        height: 0;
      }
      img {
        margin-right: 10px;
      }
    }
    
    .wrapper-dropdown .dropdown li:last-child {
      border-bottom: none;
    }
    
    .dropdown {
      padding: 7px !important;
    }
    
    .wrapper-dropdown .dropdown li:hover {
      background-color: rgb(35, 40, 49);
      border-radius: 10px;
    }
    
    .wrapper-dropdown.active .dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
  
  
  @media screen and (min-width: $bp-md) {
    .custom-dropdown {
      .selected-option {
        .option-header {
          img {
            width: 20px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: $bp-sm) {
    .dropdown-ctn.dropdown-2 .selected-display,
    .dropdown-ctn.dropdown-2 .wrapper-dropdown .dropdown li {
      font-size: 14px;
    }
    .btn.btn-lang {
      height: 51px;
    }
  } 
  @media screen and (max-width: 320px) {
    .dropdown-ctn.dropdown-2 .wrapper-dropdown {
      padding: 14px 7px;
    }
  } 
  