.bg {
    &--gray {
        background: $col-neutral-6;
        
        &.offers {
            padding: 24px 12px;

            .single-offer-1 {
                height: auto;
            }
        }
    }
}

.c {
    &--gray {
        color: $col-neutral-6;
    }
}

.offers-scroll {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    padding-bottom: 20px;
    gap: 24px;

    .single-offer-1 {
        min-width: 336px;
        max-width: 405px;
    }
}

@media screen and (min-width: $bp-md) {
    .bg {
        &--gray {
            &.offers {
                display: flex;
                overflow-x: auto;
                padding: 32px 36px 12px 36px;
                border-radius: 16px;
            }
        }
    }
}

// Define the breakpoints
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

// Generate order-{number} classes for numbers from 1 to 10
@for $i from 1 through 10 {
  .order-#{$i} {
    order: $i;
  }

  // Responsive classes for each breakpoint
  @each $breakpoint, $size in $breakpoints {
    @media (min-width: $size) {
      .order-#{$breakpoint}-#{$i} {
        order: $i;
      }
    }
  }
}

